*{
    padding:0;
    margin: 0;
    box-sizing: border-box;

}
body{
    padding: 100px;
}
.container{
    background: blue;
     width: 1000px;
     height: 500px;
     margin: auto;
     display: flex;
}
nav{
    width: 10.5%;
    flex-shrink: 1;
}
nav ul{
    list-style-type: none;
}
nav ul button{
    padding: 20px 30px;
}
.content{
    background: whitesmoke;
    height: 100%;
   width: 100%;
   position: relative;
}
.content *{
   
}
.title{
    width: 100%;
    height: 50%;
}
#salary{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: pink;
    padding: 0 10px;
 z-index: 1;
}
 .input input{
    padding: 10px 0;
    border-radius: 10px;
    border: none;
   text-align: center;
   margin: 0 10px;
   width: 15%;
}
  button{
    margin: 10px 0;
    padding: 10px 20px;
    background: rgb(77, 77, 186);
    color: white;
}
 .output{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 20%;
}
#average{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: pink;
    padding: 0 10px;
  
}
#output_average_container{
    background: whitesmoke;
    width: 70%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#output_salary_container{
    background: whitesmoke;
    width: 70%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#dola{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: pink;
    padding: 0 10px;
    
}
#output_dola_container{
    background: whitesmoke;
    width: 70%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hcn{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: pink;
    padding: 0 10px;
   
}
#output_hcn_container{
    background: whitesmoke;
    width: 70%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sum2number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: pink;
    padding: 0 10px;
   
}
#output_sum2number_container{
    background: whitesmoke;
    width: 70%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.up{
    position: absolute;
    top: 0;
    right: 9%;
    display: flex;
    align-items: center;
    width: 10px;
    height: 50%;
    overflow: hidden;
}
.down{
    position: absolute;
    bottom: -25%;
    right: 9%;

    width: 10px;
    height: 50%;
    display: flex;
    overflow: hidden;
    align-items: center;
}